<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
    <div>
        <h1>Beep boop beep!</h1>
    </div>
    <div>
        <p>I'm a simple index page, look at me!</p>
    </div>
    <div>
        <p>
            Oh, look, here's what the front controller gave me: {{ keyword }}
        </p>
    </div>
    <div>
        <p>Here, have some links to other pages in the project:</p>
        <br>
        <span>
            <a href="about">About</a>
            <a href="contacts">Contacts</a>
        </span>
    </div>
</body>
</html>